@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	padding: .5em;
}

iframe {
	width: 100%;
}

body {
	font-family: "Josefin Sans";
	background: snow;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 5em;
}

body > header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	padding-bottom: .5em;
	background:
		linear-gradient(0deg, transparent 1em, skyblue 1em) top left / 100% 100%,
		linear-gradient(45deg, transparent 50%, skyblue 51%) bottom left / 1em 1em repeat-x,
		linear-gradient(-45deg, transparent 50%, skyblue 51%) bottom left / 1em 1em repeat-x;
	font-weight: bold;
	color: snow;
	text-shadow:
		1px 1px 0 darkslategray,
		1px 1px 2px darkslategray;
	letter-spacing: 2px;
	filter: drop-shadow(1px 1px 2px darkslategray);
}

main,
[role="main"]{
	flex-grow: 1;
	width: 100vh;
	padding: 2rem 1rem;
	margin: 0 auto;
	z-index: 1;
}

footer {
	text-align: center;
}
